.leftMenu{
    z-index: 1;
    width: 220px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    padding: 25px 30px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.leftMenu .logoContainer{
    color:#f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftMenu .logoContainer{
    font-size: 20px;
    padding: 10px;
}
.leftMenu .logoContainer h2{
    font-size: 20px;
    margin-left: 20px;
}
.searchBox{
    width: 100%;
    height: 45px;
    margin-top: 18px;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.searchBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 0 0 40px;
    font-size: 13px;
    font-weight: bold;
    color: #f1f1f1;
}
.searchBox .searchIcon{
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 40px;
    text-align: center;
    padding: 15px 0;
    color: #f1f1f1;
}
.MenuContainer{
    margin: 15px 0;
}
.MenuContainer .title{
    color: #848484;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.MenuContainer ul{
width: 100%;
padding: 0;
}
.MenuContainer ul li{
list-style: none;
margin: 5px 0;
width: 100%;
padding: 2px 0;
position: relative;
}
.MenuContainer ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.MenuContainer ul li a i{
    font-size: 18px;
    margin-right: 15px;
}
.MenuContainer ul li:hover a,
.MenuContainer ul li.active a {
    color: #f1f1f1;
    transition: 0.3s;
}

/* now styles for playlists */

 .playListContainer{
    cursor: pointer;
    margin: 15px 0;
 }
 .playListContainer .nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #848484;
    margin-bottom: 5px;
 }
 .playListContainer .nameContainer p{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
 }
 .playListContainer .nameContainer i{
    cursor: pointer;
    color: #f1f1f1;
 }
 .playListContainer .playListScroll{
    height: 105px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.playListContainer .playListScroll .playList{ 
    display: flex;
    color: #848484;
    align-items: center;
    margin: 10px 0;
}
.playListContainer .playListScroll .playList i{
    font-size: 15px;
} 
.playListContainer .playListScroll .playList .list{ 
    margin-right: 15px;
}
.playListContainer .playListScroll .playList:hover{ 
    color: #e6b9b9;
    transition: 0.3s;
}
.playListContainer .playListScroll .playList .trash{
    margin-left: auto;
}
.playListContainer .playListScroll .playList p{
    font-size: 16px;
    text-overflow: ellipsis;  
    /* if text is too long then it will be shown as 'text...'' */
    overflow: hidden;
    display: inline;
}
.trackList{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.trackList .top{
    display: flex;
    align-items: center;
}
.trackList .top img{
    width: 30px;
}
.trackList .top p{
    margin-left: 10px;
    color: #f1f1f1;
    font-size: 12px;
}
.trackList .top .para .ok{
    display: block;
    font-size: 12px;
    color: #848484;
}
.bottom i{
    margin-right: 10px;
    color: #848484;
}
.bottom input{
    color: #848484;
    width: 12vw;
}
.bottom .mlist{
 margin-left: 12px;
 color: #848484;
}

@media screen and (max-width : 550px) {
    .leftMenu{
        width: 78px;
        min-width: 78px;
    }
    .leftMenu .searchBox{
        display: none;
    }
    .leftMenu .trackList{
        display: none;
    }
    .leftMenu .trackList{
        display: none;
    }
    .leftMenu .playListContainer{
        display: none;
    }
    .leftMenu .MenuContainer ul li a span{
        display: none;
    }
    .leftMenu .MenuContainer ul li a i{
        font-size: 24px;
    }
    .leftMenu .MenuContainer ul li {
       margin: 25px 0;
    }
    .leftMenu .logoContainer h2{
        margin-left:80px ;
    }
    /* .MenuContainer .title{
       margin-right: 80px;
    } */
}














