.rightMenu{
    height: 100vh;
    width: 100px;
    min-width: 100px;    z-index:1;
    background:rgba(34, 34, 34, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.rightMenu .goPro, 
.rightMenu .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.rightMenu .goPro i, 
.rightMenu .profile i{
    color: #f1f1f1;
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.rightMenu .goPro i p{
    font-size: 14px;
} 
.rightMenu .goPro i p span{
color: #848484;
}
.rightMenu .goPro i:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: #45ab2e;
    border-radius: 50%;
    top: 0;
    right: 0; 
  }
  .rightMenu .profile .profileImage{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.4);
    background: #555;
  }


 






@media screen and (max-width:550px) {
    .rightMenu{
        min-width: 40px;
    }
}